In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

frankzippas = pd.read_csv('CSVs/census_walkscore_by_zip.csv')
frankzippas
# dweezilzippas = frankzippas.sort_values('Walk Score', ascending=False).reset_index(drop=True)

# zippas = dweezilzippas['Zip Code']
# zippas
# med_inc_12 = dweezilzippas['Median Income 2012']
# med_inc_18 = dweezilzippas['Median Income 2018']

# width = 0.35
# x = np.arange(len(zippas))

# fig, ax = plt.subplots(figsize=(10,5))
# bars1 = ax.bar(x - width/2, med_inc_12, width, label='2012')
# bars2 = ax.bar(x + width/2, med_inc_18, width, label='2018')

# ax.set_ylabel('Median Income')
# ax.set_title('Median Income 2012 vs 2018')
# ax.set_xticks(x)
# ax.set_xticklabels(zippas)
# ax.tick_params('x', labelrotation=45)
# ax.legend()

# fig.tight_layout()
# plt.show()

,Zipcode,Walk Score,Median Income 2012,Population 2012,Non-White Population 2012,% Non-White 2012,Median Income 2018,Population 2018,Non-White Population 2018,% Non-White 2018
0,97035,21.000000,40434.0,23820.0,3073.0,12.900924,48275.0,26014.0,4322.0,16.614131
1,97086,22.000000,31017.0,25919.0,6201.0,23.924534,38206.0,31000.0,7949.0,25.641935
2,97201,40.500000,23194.0,14744.0,2270.0,15.396093,25805.0,18145.0,4272.0,23.543676
3,97202,66.333333,28996.0,38951.0,4844.0,12.436138,36132.0,42822.0,6447.0,15.055345
4,97203,34.500000,24099.0,30003.0,9041.0,30.133653,28363.0,34365.0,8041.0,23.398807
5,97206,61.333333,26285.0,47544.0,9036.0,19.005553,31065.0,51698.0,10975.0,21.229061
6,97209,95.000000,29754.0,14095.0,2636.0,18.701667,43873.0,17585.0,2947.0,16.758601
7,97210,86.000000,35374.0,10836.0,1655.0,15.273164,52450.0,12059.0,1483.0,12.297869
8,97211,68.600000,29190.0,30731.0,10226.0,33.275845,36630.0,34962.0,10024.0,28.671129
9,97212,80.333333,40395.0,24565.0,3384.0,13.775697,46821.0,26699.0,4090.0,15.318926
10,97213,73.142857,31161.0,29940.0,4864.0,16.245825,36950.0,32845.0,5456.0,16.611356
11,97214,91.000000,27879.0,24399.0,2165.0,8.873314,37312.0,26207.0,3788.0,14.454153
12,97215,90.000000,31765.0,16302.0,2372.0,14.550362,38774.0,18676.0,2162.0,11.576355
13,97216,62.000000,23876.0,15572.0,4918.0,31.582327,24702.0,16870.0,4516.0,26.769413
14,97217,71.833333,29341.0,31170.0,8448.0,27.102984,37730.0,34813.0,7692.0,22.095194
15,97219,52.700000,38473.0,39061.0,4328.0,11.080105,43467.0,42813.0,5950.0,13.897648
16,97220,56.666667,23083.0,29397.0,8597.0,29.244481,26237.0,30695.0,9693.0,31.578433
17,97222,64.000000,26895.0,34608.0,3143.0,9.081715,30622.0,36988.0,4294.0,11.609171
18,97223,36.000000,32780.0,46095.0,7845.0,17.019199,37444.0,49524.0,7506.0,15.156288
19,97225,34.000000,37912.0,25684.0,3636.0,14.156673,42999.0,26117.0,4065.0,15.564575
20,97227,92.000000,26325.0,4052.0,974.0,24.037512,37727.0,4759.0,1153.0,24.227779
21,97229,51.500000,48168.0,57851.0,15428.0,26.668510,52012.0,67339.0,22493.0,33.402634
22,97230,51.500000,23565.0,41010.0,13902.0,33.899049,26941.0,40131.0,12394.0,30.883855
23,97232,57.000000,32308.0,11404.0,1507.0,13.214662,39436.0,12419.0,2002.0,16.120461
24,97236,61.500000,21013.0,36217.0,10108.0,27.909545,22944.0,40866.0,14556.0,35.618852
25,97239,62.500000,38417.0,15349.0,2287.0,14.899993,47684.0,17666.0,2931.0,16.591192

In [ ]:
poppas = frankzippas['Zipcode']
med_inc_12 = frankzippas['Population 2012']
med_inc_18 = frankzippas['Population 2018']

width = 0.35
x = np.arange(len(poppas))

fig, ax = plt.subplots(figsize=(10,5))
bars1 = ax.bar(x - width/2, med_inc_12, width, label='2012')
bars2 = ax.bar(x + width/2, med_inc_18, width, label='2018')

ax.set_ylabel('Population')
ax.set_title('Population 2012 vs 2018')
ax.set_xticks(x)
ax.set_xticklabels(poppas)
ax.tick_params('x', labelrotation=45)
ax.legend()

fig.tight_layout()
plt.show()